a:hover{
    text-decoration: none;
}
.header {

    height: 800px;
    background: #CC4141;
    border-radius: 0px 0px 0px 200px;
    position: relative;

    .l{
        position: absolute;
        top: 0;
    }
    .l1{
        background: url("../images/Group 25.png");
        background-size: cover;
        width: 336px;
        height: 281px;
    }
    .l2{
        background: url("../images/Group 26.png");
        background-size: cover;
        width: 362px;
        height: 710px;
        top: 30%;
        right: 0px;
    }
    .l3{
        background: url("../images/Oval (1).png");
        background-size: cover;
        width: 160px;
        height: 160px;
        left: 190px;
        top: 60%;
    }

    .top {
        padding-top: 46px;

        .right {
            text-align: right;
            font-size: 16px;
            color: #FFFFFF;

            span {
                margin-right: 20px;
            }
        }
    }

    .lgTit {
        font-size: 58px;
        color: #FFFFFF;
        line-height: 78px;
        text-align: center;
        margin-top: 114px;
    }

    .desc {
        font-size: 29px;
        color: #FFFFFF;
        line-height: 40px;
        margin-bottom: 46px;
        text-align: center;
        margin-top: 35px;
    }

    .moreBtn {
        display: block;
        width: 200px;
        height: 60px;
        line-height: 60px;
        background: #333333;
        border-radius: 10px;
        font-size: 18px;
        color: #FFFFFF;
        text-align: center;
    }

    .down {
        margin-top: 180px;

        img {
            width: 25px;
        }
    }
}

.block1 {
    margin-top: 61px;
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        width: 300px;
        height: 300px;
        background: #CC4141;
        opacity: 0.04;
        border-radius: 300px;
        position: absolute;
        right: -150px;
        bottom: 0px;
    }

    h2 {
        font-size: 21px;
        color: #000000;
        line-height: 40px;
        margin-bottom: 22px;
        text-align: center;
    }

    .video {
        width: 100%;
        height: 640px;

        // img {
        //     width: 100%;
        //     height: 640px;
        //     object-fit: cover;
        // }
    }

    .tip {
        margin-left: 100px;
        margin-top: 10px;
    }
}

.block2 {
    margin-top: 70px;

    .left {
        font-size: 52px;
        color: #000000;
        line-height: 78px;
    }

    .right {
        .btns {
            display: block;
            width: 200px;
            height: 60px;
            background: #CC4141;
            border-radius: 10px;
            line-height: 60px;
            text-align: center;
            font-size: 18px;
            color: #FFFFFF;
            margin-left: auto;
            margin-top: 45px;
        }
    }
}

.block3 {
    margin-top: 103px;
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        width: 300px;
        height: 300px;
        background: #CC4141;
        opacity: 0.04;
        border-radius: 300px;
        position: absolute;
        left: -150px;
        bottom: 140px;
    }

    .list {
        margin-top: 104px;
    }

    .item {
        margin-bottom: 97px;

        .tit {
            font-size: 24px;
            color: #000000;
            line-height: 29px;
            margin-bottom: 17px;
            margin-top: 26px;
        }

        .desc {
            font-size: 18px;
            color: #999999;
            line-height: 28px;
        }
    }
}

.comLgTit {
    text-align: center;
    font-size: 52px;
    color: #000000;
    line-height: 78px;
    position: relative;
    span{
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 14px;
            background: #CC4141;
            top: 48px;
            z-index: -1;
        }
    }
    
}

.comLgTit2 {
    font-size: 52px;
    color: #000000;
    position: relative;
    line-height: .9;

    span{
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 14px;
            background: #CC4141;
            bottom: 0px;
            z-index: -1;
        }
    }

   
}

.block4 {
    margin-bottom: 103px;
    position: relative;
    overflow: hidden;

    .desc {
        font-size: 20px;
        color: #999999;
        line-height: 34px;
        margin-top: 30px;
    }

    .btns {
        display: block;
        width: 200px;
        height: 60px;
        background: #CC4141;
        border-radius: 10px;
        line-height: 60px;
        text-align: center;
        font-size: 18px;
        color: #FFFFFF;
        margin-top: 130px;
    }
}

.circle1 {
    &::before {
        content: "";
        width: 360px;
        height: 360px;
        border-radius: 360px;
        background: #CC4141;
        opacity: 0.04;
        position: absolute;
        bottom: 0;
        right: -100px;
    }
}

.circle2 {
    &::before {
        content: "";
        width: 360px;
        height: 360px;
        border-radius: 360px;
        background: #CC4141;
        opacity: 0.04;
        position: absolute;
        bottom: 0;
        left: -160px;
    }
}

.block5 {
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        width: 300px;
        height: 300px;
        background: #CC4141;
        opacity: 0.04;
        position: absolute;
        right: -130px;
        bottom: 0;
        border-radius: 300px;
    }

    .lgTit {
        font-size: 52px;
        color: #000000;
        line-height: 78px;
        position: relative;
        z-index: 5;
        text-align: center;
        width: 100%;

        span{
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 55px;
                width: 100%;
                height: 14px;
                background: #CC4141;
                z-index: -2;
            }
        }


    }

    .list {
        margin-top: 70px;
        position: relative;
        z-index: 5;

        &::before {
            content: "";
            position: absolute;
            width: 239px;
            height: 72px;
            background: url("../images/Combined Shape.png");
            background-size: 100% 100%;
            z-index: 0;
            top: -42px;
            left: -32px;
        }

        .item {
            padding: 40px;
            background: #FFFFFF;
            box-shadow: 0px 20px 40px 0px rgba(3, 0, 77, 0.04);
            border-radius: 12px;
            margin-bottom: 25px;
            position: relative;
            z-index: 3;

            &:last-child {
                margin-bottom: 0;
            }

            .tit {
                font-size: 20px;
                color: #000000;
                line-height: 24px;
                margin-bottom: 15px;
            }

            .desc {
                font-size: 18px;
                color: #999999;
                line-height: 32px;
            }
        }
    }
}

.footer {
    width: 100%;
    // height: 406px;
    background: #333333;
    margin-top: 130px;
    padding-top: 76px;
    position: relative;

    .l{
        position: absolute;
    }

    .l4{
        background: url(../images/Oval.png);
        background-size: cover;
        width: 130px;
        height: 420px;
        top: -200px;
        left: -11px;
    }
    .l5{
        background: url("../images/Group 24.png");
        background-size: cover;
        width: 287px;
        height: 315px;
        right: 0;bottom: 0;
    }

    .ftLogo {
        margin-bottom: 46px;
    }

    .list {
        .item {
            margin-bottom: 15px;

            span {
                margin-left: 20px;
                font-size: 16px;
                color: #FFFFFF;
            }
        }
    }

    .line {
        width: 100%;
        height: 1px;
        background: #FFFFFF;
        opacity: 0.12;
        margin-bottom: 31px;
    }

    .bot {
        .imgs {
            padding-bottom: 22px;

            img {
                margin-right: 8px;
            }
        }

        .right {
            color: #FFFFFF;
            text-align: right;
        }
    }
}

@media screen and (max-width:768px) {
    .l{
        display: none;
    }
    .block1::before,.block3::before,.circle1::before,.circle2::before,.block5::before{
        width: 0;
        height: 0;
    }

    div,
    p {
        word-wrap: break-word;
        word-break: break-all;
    }

    .header {
        height: auto;
        border-radius: 0;

        .top{
            text-align: center;
        }

        .lgTit {
            margin-top: 40px;
            font-size: 30px;
            font-weight: bold;
            line-height: 50px;
        }

        .desc {
            font-size: 20px;
        }

        .top {
            .right {
                text-align: center;

                span {
                    display: block;
                    margin-bottom: 10px;
                }
            }
        }

        .down {
            margin-top: 30px;
        }
    }

    .footer {
        margin-top: 80px;
        text-align: center;

        .bot {
            .right {
                text-align: center;
                padding: 40px 0 50px;
            }
        }
    }



    .comLgTit {
        font-size: 40px;
    }

    .comLgTit2 {
        font-size: 40px;
    }

    .block5 .lgTit {
        font-size: 40px;
    }

    .block1 {
        width: 100%;
        height: 376px;

        video,
        iframe {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .block2 {
        .left {
            font-size: 40px;
            color: #000000;
            line-height: 60px;
            text-align: center;
            word-break: break-all;
        }

        .right {
            .btns {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .block3 {
        margin-top: 20px;

        .item {
            margin-bottom: 62px;
        }

        .list {
            margin-top: 38px;
        }
    }

    .block4 {
        .btns{
            margin-top: 8px;
        }
        .btns {
            margin-top: 30px;
        }
    }
}